mat-nav-list {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.sidebar__btn_img {
    width: 48px;
    height: 48px;
    margin-left: 10px;
}

a.mdc-list-item {
    margin-top: 40px;
    height: fit-content;
    min-height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.sidebar__title {
    margin-left: 10px;
    font-size: 1.5rem;
    height: fit-content;
    color: var(--primary-color);
    font-weight: 500;
    margin-top: 12px;
}

.sidebar__logo {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5%;
    width: 250px;
    height: auto;
    align-self: center;
}

.sidebar__close_btn {
    color: var(--secondary-color);
    font-size: 2rem;
    border: none;
    background-color: transparent;
    margin-top: 5px;
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;
}

.sidebar__header {
    display: flex;
    flex-direction: row;
    align-content: center;    
}

.sidebar__social_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sidebar__social_link {
    width: 32px;   
    height: 100%;
    margin-top: 15%
}

.sidebar__instagram_icon {
    color: rgb(197, 54, 164)
}

.sidebar__facebook_icon {
    color: rgb(59, 89, 152)
}


/* Lista Servizi */
.sidebar__divider {
    height: 2px;
    background-color: var(--primary-color);
    margin-top: 4rem;
}

.sidebar__title_servizi {
    margin-left: 1rem;
    margin-top: 2rem;
    font-size: 2rem;
    height: fit-content;
    color: var(--primary-color);
    font-weight: 500;
    text-align: center;
}

.sidebar__wrapper_servizi {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
}

.sidebar__servizio_title {
    margin-left: 5px;
    color: var(--primary-color) !important;
}

.sidebar__servizio_icon {
    color: var(--secondary-color) !important;
}

@media (max-width: 575px) {
    .sidebar__close_btn {
        margin-right: 40px
    }
}