<!-- Contenuto della sidenav -->
<mat-nav-list>
    <aside style="position: fixed;top: 0;height: 100vh; height: 100dvh;overflow: auto;">
        <div class="sidebar__header">
            <img class="sidebar__logo" src="assets/images/logoblu.webp">

            <button class="sidebar__close_btn" (click)="closeMenu()">X</button>
        </div>

        <a mat-list-item class="sidebar__item" href="/" routerLink="/" (click)="closeMenu()">
            <img class="sidebar__btn_img" src="assets/icons/homepage.webp">
            
            <p class="sidebar__title">Home</p>
        </a>


        <a mat-list-item class="sidebar__item" href="/chi-siamo/" routerLink="/chi-siamo/" (click)="closeMenu()">
            <img class="sidebar__btn_img" src="assets/icons/team.webp">

            <p class="sidebar__title">Chi Siamo</p>
        </a>

        <a mat-list-item class="sidebar__item" href="/gallery/" routerLink="/gallery/" (click)="closeMenu()">
            <img class="sidebar__btn_img" src="assets/icons/galleria.webp">

            <p class="sidebar__title">Galleria</p>
        </a>


        <a mat-list-item class="sidebar__item" href="/contatti/" routerLink="/contatti/" (click)="closeMenu()">
            <img class="sidebar__btn_img" src="assets/icons/contattaci.webp">

            <p class="sidebar__title">Contattaci</p>
        </a>
        

        <div class="sidebar__divider"></div>

        <p class="sidebar__title_servizi">Servizi</p>


        <!-- Autovetture-->
        <div class="sidebar__wrapper_servizi" href="/servizio/autovetture/" routerLink="/servizio/autovetture/" (click)="closeMenu()">
            <mat-icon class="sidebar__servizio_icon">directions_car</mat-icon>
            <span class="sidebar__servizio_title">Autovetture</span>
        </div>

        <!-- Car Detailing -->
        <div class="sidebar__wrapper_servizi" href="/servizio/cardetailing/" routerLink="/servizio/cardetailing/" (click)="closeMenu()">
            <mat-icon class="sidebar__servizio_icon">directions_car</mat-icon>
            <span class="sidebar__servizio_title">Car Detailing</span>
        </div>


        <!-- Camper -->
        <div class="sidebar__wrapper_servizi" href="/servizio/camper/" routerLink="/servizio/camper/" (click)="closeMenu()">
            <mat-icon class="sidebar__servizio_icon">airport_shuttle</mat-icon>
            <span class="sidebar__servizio_title">Camper</span>
        </div>


        <!-- Imbarcazioni -->
        <div class="sidebar__wrapper_servizi" href="/servizio/imbarcazioni/" routerLink="/servizio/imbarcazioni/" (click)="closeMenu()">
            <mat-icon class="sidebar__servizio_icon">directions_boat</mat-icon>
            <span class="sidebar__servizio_title">Imbarcazioni</span>
        </div>


        <!-- Divani, Poltrone e Sedie -->
        <div class="sidebar__wrapper_servizi" href="/servizio/divani/" routerLink="/servizio/divani/" (click)="closeMenu()">
            <mat-icon class="sidebar__servizio_icon">chair</mat-icon>
            <span class="sidebar__servizio_title">Divani, Poltrone e Sedie</span>
        </div>


        <!-- Materassi -->
        <div class="sidebar__wrapper_servizi" href="/servizio/materassi/" routerLink="/servizio/materassi/" (click)="closeMenu()">
            <mat-icon class="sidebar__servizio_icon">airline_seat_individual_suite</mat-icon>
            <span class="sidebar__servizio_title">Materassi</span>
        </div>


        <!-- Tappeti -->
        <div class="sidebar__wrapper_servizi" href="/servizio/tappeti/" routerLink="/servizio/tappeti/" (click)="closeMenu()">
            <mat-icon class="sidebar__servizio_icon">receipt</mat-icon>
            <span class="sidebar__servizio_title">Tappeti</span>
        </div>


        <!-- Tappezzeria -->
        <div class="sidebar__wrapper_servizi" href="/servizio/tappezzeria/" routerLink="/servizio/tappezzeria/" (click)="closeMenu()">
            <mat-icon class="sidebar__servizio_icon">event_seat</mat-icon>
            <span class="sidebar__servizio_title">Tappezzeria</span>
        </div>


        <!-- Locali Commerciali, Uffici e Negozi -->
        <div class="sidebar__wrapper_servizi" href="/servizio/locali/" routerLink="/servizio/locali/" (click)="closeMenu()">
            <mat-icon class="sidebar__servizio_icon">business_centre</mat-icon>
            <span class="sidebar__servizio_title">Locali Commerciali, Uffici e Negozi</span>
        </div>


        <!-- Abitazioni, Villette e Case Vacanze -->
        <div class="sidebar__wrapper_servizi" href="/servizio/abitazioni/" routerLink="/servizio/abitazioni/" (click)="closeMenu()">  
            <mat-icon class="sidebar__servizio_icon">home</mat-icon>
            <span class="sidebar__servizio_title">Abitazioni, Villette e Case Vacanze</span>
        </div>


        <!-- Animali, Urina e Vomito -->
        <div class="sidebar__wrapper_servizi" href="/servizio/animali/" routerLink="/servizio/animali/" (click)="closeMenu()">
            <mat-icon class="sidebar__servizio_icon">pets</mat-icon>
            <span class="sidebar__servizio_title">Animali, Urina e Vomito</span>
        </div>


        <!-- Ambienti -->
        <div class="sidebar__wrapper_servizi" href="/servizio/ambienti/" routerLink="/servizio/ambienti/" (click)="closeMenu()">
            <mat-icon class="sidebar__servizio_icon">family_restrooms</mat-icon>
            <span class="sidebar__servizio_title">Ambienti</span>
        </div>


        <!-- Incendi -->
        <div class="sidebar__wrapper_servizi" href="/servizio/incendi/" routerLink="/servizio/incendi/" (click)="closeMenu()">
            <mat-icon class="sidebar__servizio_icon">local_fire_department</mat-icon>
            <span class="sidebar__servizio_title">Incendi</span>
        </div>


        <!-- Tende da Sole e Gazebi -->
        <div class="sidebar__wrapper_servizi" href="/servizio/tendedasole/" routerLink="/servizio/tendedasole/" (click)="closeMenu()">
            <mat-icon class="sidebar__servizio_icon">sunny</mat-icon>
            <span class="sidebar__servizio_title">Tende da Sole e Gazebi</span>
        </div>
    
        <div class="sidebar__wrapper_servizi" href="/servizio/puliziastraordinaria/" routerLink="/servizio/puliziastraordinaria/" (click)="closeMenu()">
            <mat-icon class="sidebar__servizio_icon">clean_hands</mat-icon>
            <span class="sidebar__servizio_title">Pulizia Straordinaria</span>
        </div>
        


        


        <!-- Social Buttons -->
        <div class="sidebar__social_wrapper">

            <!-- Whatsapp -->
            <a class="sidebar__social_link" title="whatsapp" target="_blank" href="https://api.whatsapp.com/send?phone=3887236826">
                <img src="assets/icons/whatsapp.webp" style="width: 32px; height: 32px;" />
            </a>


            <!-- Youtube -->
            <a class="sidebar__social_link" title="youtube" target="_blank" href="https://www.youtube.com/@VAPORCHIC?app=desktop">
                <img src="assets/icons/youtube.webp" style="width: 32px; height: 32px;" />
            </a>


            <!-- Tiktok -->
            <a class="sidebar__social_link" title="tiktok" target="_blank" href="https://www.tiktok.com/@vaporchic?is_from_webapp=1&sender_device=pc">
                <img src="assets/icons/tiktok.webp" style="width: 32px; height: 32px;" />
            </a>


            <!-- Facebook -->
            <a class="sidebar__social_link sidebar__facebook_icon" title="facebook" target="_blank" href="https://www.facebook.com/p/VaporChic-Pulizia-e-Sanificazione-a-Vapore-61566351196944/">
                <span >
                    <svg preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112">
                        <use xlink:href="#svg-654d"></use>
                    </svg>

                    <svg style="width: 0px;height: 0px" viewBox="0 0 112 112" x="0" y="0" id="svg-654d">
                        <circle fill="currentColor" cx="56.1" cy="56.1" r="55">

                        </circle>

                        <path fill="#FFFFFF" d="M73.5,31.6h-9.1c-1.4,0-3.6,0.8-3.6,3.9v8.5h12.6L72,58.3H60.8v40.8H43.9V58.3h-8V43.9h8v-9.2c0-6.7,3.1-17,17-17h12.5v13.9H73.5z">

                        </path>
                    </svg>
                </span>
            </a>


            <!-- Instagram -->
            <a class="sidebar__social_link sidebar__instagram_icon" title="instagram" target="_blank" href="https://www.instagram.com/vaporchic_pulizia_">
                <span>
                    <svg preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112">
                        <use xlink:href="#svg-a506"></use>
                    </svg>
                    
                    <svg style="width: 0px;height:0px" viewBox="0 0 112 112" x="0" y="0" id="svg-a506">
                        <circle fill="currentColor" cx="56.1" cy="56.1" r="55">

                        </circle>
                        <path fill="#FFFFFF" d="M55.9,38.2c-9.9,0-17.9,8-17.9,17.9C38,66,46,74,55.9,74c9.9,0,17.9-8,17.9-17.9C73.8,46.2,65.8,38.2,55.9,38.2z M55.9,66.4c-5.7,0-10.3-4.6-10.3-10.3c-0.1-5.7,4.6-10.3,10.3-10.3c5.7,0,10.3,4.6,10.3,10.3C66.2,61.8,61.6,66.4,55.9,66.4z"></path><path fill="#FFFFFF" d="M74.3,33.5c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2s4.2-1.9,4.2-4.2S76.6,33.5,74.3,33.5z"></path><path fill="#FFFFFF" d="M73.1,21.3H38.6c-9.7,0-17.5,7.9-17.5,17.5v34.5c0,9.7,7.9,17.6,17.5,17.6h34.5c9.7,0,17.5-7.9,17.5-17.5V38.8C90.6,29.1,82.7,21.3,73.1,21.3z M83,73.3c0,5.5-4.5,9.9-9.9,9.9H38.6c-5.5,0-9.9-4.5-9.9-9.9V38.8c0-5.5,4.5-9.9,9.9-9.9h34.5c5.5,0,9.9,4.5,9.9,9.9V73.3z"></path>
                    </svg>
                </span>
            </a>
        </div>
    </aside>
    
</mat-nav-list>
