<div class="navbar__wrapper">


    <div class="navbar__contacts_wrapper">


        <!-- Contatti -->
        <ul class="navbar__contacts_list">
            <li class="navbar__contact_item">
                <a href="tel:+393887236826">
                    <span class="navbar__label">Telefono:</span>
                    <span class="navbar__link_value"> +39 388723-6826</span>
                </a>
            </li>


            <li class="navbar__contact_item">
               <span class="navbar__label"> Indirizzo:</span> 
               <span class="navbar__link_value"> Via Sciascia, 34 - 96014 Floridia SR</span>
            </li>


            <li class="navbar__contact_item">
                <a href="mailto:vaporchicfloridia@gmail.com">
                    <span class="navbar__label">Email:</span>  
                    <span class="navbar__link_value"> vaporchicfloridia@gmail.com</span>
                </a>
            </li>
        </ul>
        

    </div>





    <div class="navbar">

        <div class="navbar__logo_group">
            <div class="navbar__logo_wrapper">
                <!-- Logo -->
                <img class="navbar__logo" src="assets/images/logoblu.webp"  alt="Logo" href="/" routerLink="/">
            </div>


            <div class="navbar__separator">

            </div>

        </div>
        



        <nav class="navbar__nav_wrapper">
            <!-- Bottone Navigazione Mobile -->
            <div class="navbar__mobile_wrapper">
                <button class="navbar__elev_btn" matButton="elevated" title="Apri Navigazione Mobile" (click)="openMenu()">
                    <mat-icon class="navbar__menu_btn_icon">menu</mat-icon>
                </button>
            </div>

            <mat-drawer-container class="navbar__sidenav">
                <mat-drawer #sidenav Mode="Side"></mat-drawer>
            </mat-drawer-container>





            <!-- Bottoni Navigazione Desktop -->
            <ul class="navbar__nav_list">

                <!-- Homepage -->
                <li class="navbar__nav_button">
                    <a class="navbar__link_txt" href="/" routerLink="/">Home</a>
                </li>

                <!-- Chi Siamo -->
                <li class="navbar__nav_button">
                    <a class="navbar__link_txt" href="/chi-siamo" routerLink="/chi-siamo">Chi Siamo</a>
                </li>

                
                <!-- Servizi -->
                <li class="navbar__nav_button" [matMenuTriggerFor]="menu_servizi">
                    <p class="navbar__link_txt">Servizi</p>

                    <mat-menu #menu_servizi class="navbar__menu" panelClass="navbar__menu">
                        <!-- Autovetture-->
                        <button mat-menu-item class="navbar__menu_button" [matMenuTriggerFor]="autosub">
                            <mat-icon class="navbar__menu_icon">directions_car</mat-icon>
                            <span class="navbar__menu_label">Autovetture</span>
                        </button>

                        <!-- Camper -->
                        <button mat-menu-item class="navbar__menu_button" routerLink="/servizio/camper">
                            <mat-icon class="navbar__menu_icon">airport_shuttle</mat-icon>
                            <span class="navbar__menu_label">Camper</span>
                        </button>

                        <!-- Imbarcazioni -->
                        <button mat-menu-item class="navbar__menu_button" routerLink="/servizio/imbarcazioni">
                            <mat-icon class="navbar__menu_icon">directions_boat</mat-icon>
                            <span class="navbar__menu_label">Imbarcazioni</span>
                        </button>

                        <!-- Divani e Poltrone -->
                        <button mat-menu-item class="navbar__menu_button" routerLink="/servizio/divani">
                            <mat-icon class="navbar__menu_icon">chair</mat-icon>
                            <span class="navbar__menu_label">Divani, Poltrone e Sedie</span>
                        </button>

                        <!-- Materassi -->
                        <button mat-menu-item class="navbar__menu_button" routerLink="/servizio/materassi">
                            <mat-icon class="navbar__menu_icon">airline_seat_individual_suite</mat-icon>
                            <span class="navbar__menu_label">Materassi</span>
                        </button>
                        
                        <!-- Tappeti -->
                        <button mat-menu-item class="navbar__menu_button" routerLink="/servizio/tappeti">
                            <mat-icon class="navbar__menu_icon">receipt</mat-icon>
                            <span class="navbar__menu_label">Tappeti</span>
                        </button>

                        <!-- Tappeti -->
                        <button mat-menu-item class="navbar__menu_button" routerLink="/servizio/tappezzeria">
                            <mat-icon class="navbar__menu_icon">event_seat</mat-icon>
                            <span class="navbar__menu_label">Tappezzeria</span>
                        </button>

                        <!-- Pulizia Ordinaria -->
                        <!--<button mat-menu-item class="navbar__menu_button" routerLink="/servizio/puliziaordinaria">
                            <mat-icon class="navbar__menu_icon">clean_hands</mat-icon>
                            <span class="navbar__menu_label">Pulizia Ordinaria</span>
                        </button>-->

                        <!-- Pulizia Straordinaria -->
                        <button mat-menu-item class="navbar__menu_button" routerLink="/servizio/puliziastraordinaria">
                            <mat-icon class="navbar__menu_icon">clean_hands</mat-icon>
                            <span class="navbar__menu_label">Pulizia Straordinaria</span>
                        </button>

                        <!-- Locali Commerciali, Uffici e Negozi -->
                        <button mat-menu-item class="navbar__menu_button" routerLink="/servizio/locali">
                            <mat-icon class="navbar__menu_icon">business_center</mat-icon>
                            <span class="navbar__menu_label">Locali Commerciali, Uffici e Negozi</span>
                        </button>

                        <button mat-menu-item class="navbar__menu_button" [matMenuTriggerFor]="casesub">
                            <mat-icon class="navbar__menu_icon">home</mat-icon>
                            <span class="navbar__menu_label">Abitazioni, Villette e Case Vacanze</span>
                        </button>

                        
                        <!-- Animali -->
                        <button mat-menu-item class="navbar__menu_button" routerLink="/servizio/animali">
                            <mat-icon class="navbar__menu_icon">pets</mat-icon>
                            <span class="navbar__menu_label">Animali, Urina e Vomito</span>
                        </button>

                        <!-- Ambientale -->
                        <button mat-menu-item class="navbar__menu_button" routerLink="/servizio/ambienti">
                            <mat-icon class="navbar__menu_icon">family_restrooms</mat-icon>
                            <span class="navbar__menu_label">Ambienti</span>
                        </button>

                        <!-- Incendi -->
                        <button mat-menu-item class="navbar__menu_button" routerLink="/servizio/incendi">
                            <mat-icon class="navbar__menu_icon">local_fire_department</mat-icon>
                            <span class="navbar__menu_label">Case Inciendiate</span>
                        </button>

                        <!-- Tende da Sole -->
                        <button mat-menu-item class="navbar__menu_button" routerLink="/servizio/tendedasole">
                            <mat-icon class="navbar__menu_icon">sunny</mat-icon>
                            <span class="navbar__menu_label">Tende da Sole e Gazebi</span>
                        </button>
                    </mat-menu>




                    <mat-menu #autosub="matMenu" class="navbar__menu" panelClass="navbar__menu">
                        <button routerLink="/servizio/autovetture"  mat-menu-item class="navbar__menu_label">Autovetture</button>
                        <button routerLink="/servizio/cardetailing" mat-menu-item class="navbar__menu_label">Car Detailing</button>
                    </mat-menu>


                    <mat-menu #casesub="matMenu" class="navbar__menu" panelClass="navbar__menu">
                        <button routerLink="/servizio/abitazioni"  mat-menu-item class="navbar__menu_label">Abitazioni</button>
                        <button routerLink="/servizio/casevacanza" mat-menu-item class="navbar__menu_label">Case Vacanza</button>
                    </mat-menu>
                </li>

                
                <li class="navbar__nav_button">
                    <a class="navbar__link_txt" href="/gallery" routerLink="/gallery">Galleria</a>
                </li>

                <!-- Contatti-->
                <li class="navbar__nav_button">
                    <a class="navbar__link_txt" href="/contatti" routerLink="/contatti">Contatti</a>
                </li>
            </ul>
        </nav>



        <!-- Social Buttons -->
        <div class="social__wrapper navbar__social_wrapper">

            <!-- Whatsapp -->
            <a class="social__links" title="whatsapp" target="_blank" href="https://api.whatsapp.com/send?phone=3887236826">
                <img src="assets/icons/whatsapp.webp" class="social__img" alt="Logo Whatsapp"/>
            </a>


            <!-- Youtube -->
            <a class="social__links" title="youtube" target="_blank" href="https://www.youtube.com/@VAPORCHIC?app=desktop">
                <img src="assets/icons/youtube.webp" class="social__img" alt="Logo Youtube"/>
            </a>


            <!-- Tiktok -->
            <a class="social__links" title="tiktok" target="_blank" href="https://www.tiktok.com/@vaporchic?is_from_webapp=1&sender_device=pc">
                <img src="assets/icons/tiktok.webp" class="social__img" alt="Logo TikTok"/>
            </a>


            <!-- Facebook -->
            <a class="social__links social__facebook_icon" title="facebook" target="_blank" href="https://www.facebook.com/p/VaporChic-Pulizia-e-Sanificazione-a-Vapore-61566351196944/">
                <span>
                    <svg preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112">
                        <use xlink:href="#svg-654d"></use>
                    </svg>

                    <svg style="width: 0px;height: 0px" viewBox="0 0 112 112" x="0" y="0" id="svg-654d">
                        <circle fill="currentColor" cx="56.1" cy="56.1" r="55">

                        </circle>

                        <path fill="#FFFFFF" d="M73.5,31.6h-9.1c-1.4,0-3.6,0.8-3.6,3.9v8.5h12.6L72,58.3H60.8v40.8H43.9V58.3h-8V43.9h8v-9.2c0-6.7,3.1-17,17-17h12.5v13.9H73.5z">

                        </path>
                    </svg>
                </span>
            </a>


            <!-- Instagram -->
            <a class="social__links social__instagram_icon" title="instagram" target="_blank" href="https://www.instagram.com/vaporchic_pulizia_">
                <span>
                    <svg preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112">
                        <use xlink:href="#svg-a506"></use>
                    </svg>
                    
                    <svg style="width: 0px;height:0px" viewBox="0 0 112 112" x="0" y="0" id="svg-a506">
                        <circle fill="currentColor" cx="56.1" cy="56.1" r="55">

                        </circle>
                        <path fill="#FFFFFF" d="M55.9,38.2c-9.9,0-17.9,8-17.9,17.9C38,66,46,74,55.9,74c9.9,0,17.9-8,17.9-17.9C73.8,46.2,65.8,38.2,55.9,38.2z M55.9,66.4c-5.7,0-10.3-4.6-10.3-10.3c-0.1-5.7,4.6-10.3,10.3-10.3c5.7,0,10.3,4.6,10.3,10.3C66.2,61.8,61.6,66.4,55.9,66.4z"></path><path fill="#FFFFFF" d="M74.3,33.5c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2s4.2-1.9,4.2-4.2S76.6,33.5,74.3,33.5z"></path><path fill="#FFFFFF" d="M73.1,21.3H38.6c-9.7,0-17.5,7.9-17.5,17.5v34.5c0,9.7,7.9,17.6,17.5,17.6h34.5c9.7,0,17.5-7.9,17.5-17.5V38.8C90.6,29.1,82.7,21.3,73.1,21.3z M83,73.3c0,5.5-4.5,9.9-9.9,9.9H38.6c-5.5,0-9.9-4.5-9.9-9.9V38.8c0-5.5,4.5-9.9,9.9-9.9h34.5c5.5,0,9.9,4.5,9.9,9.9V73.3z"></path>
                    </svg>
                </span>
            </a>
        </div>

    </div>


    
</div>