.servizio__body {
    margin-bottom: 12rem;
}

.servizio__title_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.servizio__title_wrapper {
    display: flex;
    flex-direction: column;
    max-height: 45vh;
    width: 100%;
}

.servizio__background {
    width: 100%;
    max-height: 45vh;
    object-fit: cover;
}

.servizio__title_color {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 40vh;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-left: 4rem;
    background-color: var(--official-color-light);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    animation: HomepageTitleBoxAppear 0.4s ease-in;
}   

.servizio__title {
    width: 90%;
    bottom: 2rem;
    text-align: center;
    align-self: center;
    line-height: 1.4;
    color: var(--text-color);
    font-size: 2rem;
    text-shadow: 0 0 1px var(--secondary-color);
    animation: HomepageTitleAppear 0.7s ease-in;
}

/* Header */
.servizio__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.servizio__header_title {
    font-size: 2rem;
    margin-top: 4rem;
    color: var(--primary-color);
    text-shadow: 0 0 2px var(--secondary-color);
}

.servizio__header_description {
    font-size: 1.50rem;
    line-height: 1.4;
    margin-top: 1rem;
}

/* Sections */
.servizio__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-top: 8rem;
    opacity: 0;
}

.servizio__section_reverse {
    flex-direction: row-reverse;
}

.servizio__section_title_wrapper {
    display: flex;
    flex-direction: row;
}

.servizio__section_title_wrapper_reverse {
    flex-direction: row-reverse;
}

.servizio__section_img {
    max-width: 30%;
    max-height: 400px;
    border-radius: 12px;
    border: 1px solid var(--primary-color);
}

/* TEST */
.servizio__section_img_mobile {
    max-width: 90%;
    max-height: 300px;
    border-radius: 12px;
    border: 1px solid var(--primary-color);
    display: none;
    margin-top: 2rem;
}

.servizio__section_img2 {
    max-width: 45% !important;
}

.servizio__section_title {
    margin-left: 2rem;
    font-size: 2.5rem;
    color: var(--primary-color);
    font-weight: bold;
    line-height: 1.2;
}

.servizio__section_title2 {
    margin-left: 0px !important;
    margin-right: 2rem !important;
}

.servizio__section_description {
    font-size: 1.75rem;
    margin-left: 3rem;
    margin-top: 1rem;
    line-height: 1.4;
}

.servizio__section_description2 {
    margin-left: 0px;
    margin-right: 3rem;
}

.servizio__section_wrapper_txt {
    display: flex;
    flex-direction: column;
}

.servizio__static_txt {
    text-align: center;
    font-weight: 400 !important;
    margin-top: 4rem;
}

.servizio__section_undertext {
    font-size: 1.75rem;
    margin-top: 2rem;
    line-height: 1.4;
}

.servizio__section3 {
    margin-top: 8rem;
    width: 60%;
    opacity: 0;
}

.servizio__section3_title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    color: var(--primary-color);
}

.servizio__section3_description {
    font-size: 1.50rem;
    margin-top: 0.5rem;
    margin-left: 10px;
    line-height: 1.2;
}

.servizio__table_title {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.2;
    margin-top: 4rem;
}

.servizio__table {
    list-style: none;
    padding-left: 10px;
    columns: 2;
}

.servizio__table_entry {
    font-size: 1.50rem;
    line-height: 1.4;
    margin-bottom: 0.2rem;
    color: var(--green-color);
}


.servizio__media_wrapper {
    display: inline-flex;        /* resta inline, ma è flex */
    flex-wrap: wrap;             /* permette di andare a capo */
    justify-content: center;     /* centra ogni riga */
    margin-top: 8rem;
    width: 90%;
    opacity: 0;
}

.servizio__video {
    border-radius: 12px;
    margin-top: 1rem;
    border: 1px solid var(--primary-color);
    max-height: 300px;
    margin-right: 2rem;
}

/* Plans Section */
.servizio__plans_wrapper {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    opacity: 0;
}

.servizio__plan_box {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.servizio__plan_divider {
    background-color: var(--green-color);
    width: 100%;
    height: 2px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.servizio__plan_name {
    text-align: center;
    font-size: 2rem;
    line-height: 1.2;
    color: var(--primary-color);
}

.servizio__plan_cost {
    text-align: center;  
    font-size: 2rem;  
    line-height: 1.2;
    color: var(--primary-color);
}

.servizio__plan_price {
    font-size: 2.25rem;
    font-weight: 500;
}

.servizio__preventivo {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    padding: 32px;
    font-size: 3rem;
    font-weight: 600;
    

    border: none;
    border-radius: 40px;
    background: linear-gradient(180deg, #ffe27a, #f3b800);
    color: #1b2a4a;
    cursor: pointer;
    box-shadow: 0 4px 0 #c89c00, 0 8px 15px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease;
}

.servizio__preventivo:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 0 #c89c00, 0 12px 20px rgba(0,0,0,0.3);
}

.servizio__plan_icon {
    width: 64px;   
    height: 64px;
}



/* Tabella Auto */
.servizio_article_tabella_auto {
    max-width: 90%;
    opacity: 0;
}

.servizio__tabella_prezzi_auto {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 1rem;
    margin-top: 4rem;
    padding-left: 1rem;
    padding-right: 2rem;
}

.servizio__checkbox_border {
    border-bottom: 1px solid var(--green-color);
}

.servizio__checkbox_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servizio__article_description {
    font-size: 1.95rem;
    line-height: 1.4;
    margin-bottom: 1rem;
    color: var(--primary-color);
    font-weight: 500;
    text-align: center;
}



/* Tabella Mobile */
.servizio__table_auto_mobile {
    display: none;
}

.services__card_mobile {
    width: 80%;
    margin-bottom: 4rem;
    border-radius: 12px;
    border: 1px solid var(--official-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__card_title {
    text-align: center;
    color: var(--green-color);
    font-size: 1.65rem;
    line-height: 1.4;
    margin-bottom: 1rem;
    font-weight: 600;
    border-bottom: 1px solid var(--green-color);
}

.services__card_descr {
    text-align: left !important;
    font-size: 1.25rem !important;
    line-height: 1.4;
    margin-bottom: 1rem;
    color: var(--primary-color);
    font-weight: 500;
}

.services__prezzo_mobile {
    font-size: 1.50rem !important;
    margin-top: 2rem;
    line-height: 1.4;
    margin-bottom: 1rem;
    color: var(--primary-color);
    font-weight: 500;
}

.services__article_warnig_materassi {
    height: fit-content;
    margin-bottom: 0px;
    margin-left: 1rem;
    width: 100%;
    font-size: 1.95rem;
    line-height: 1.4;
    margin-bottom: 1rem;
    color: var(--primary-color);
    font-weight: 500;
    text-align: center;
}

.services__attention_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.explosion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;    
    z-index: 1;
    background: var(--secondary-color);
    color: var(--primary-color);
    font-weight: bold;
    font-size: 18px;
    padding: 40px;
    animation: pop 0.5s ease-out;
    position: absolute;
    width: 160px;
    clip-path: polygon(100% 50%,83.81% 59.06%,93.3% 75%,74.75% 74.75%,75% 93.3%,59.06% 83.81%,50% 100%,40.94% 83.81%,25% 93.3%,25.25% 74.75%,6.7% 75%,16.19% 59.06%,0% 50%,16.19% 40.94%,6.7% 25%,25.25% 25.25%,25% 6.7%,40.94% 16.19%,50% 0%,59.06% 16.19%,75% 6.7%,74.75% 25.25%,93.3% 25%,83.81% 40.94%);
    position: relative !important;
    align-items: center;
}


.collab__title_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    margin-top: 6rem;
}

.collab__line_right {
    content: "";
    height: 2px;
    width: 200px;
    margin-left: 2rem;
    background: linear-gradient(
        to right,
        var(--primary-color),
        transparent
    );
}

.collab__line_left {
    content: "";
    height: 2px;
    width: 200px;
    margin-right: 2rem;
    background: linear-gradient(
        to left,
        var(--primary-color),
        transparent
    );
}

.collab__title {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    background: linear-gradient(
        180deg,
        rgb(102, 180, 220),   /* versione più chiara */
        rgb(0, 90, 143)       /* colore base */
    );

    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow:
        0 0 10px rgba(0, 140, 220, 0.5),
        0 2px 0 rgba(0, 0, 0, 0.1),
        0 10px 20px rgba(0, 0, 0, 0.4);

    letter-spacing: 3px;
    line-height: 1.1;
}

@media (max-width: 2100px) {
    .servizio__title_color {
        max-height: 30vh;
    } 
}

@media (max-width: 1300px) {
    .servizio__section {
        width: 90%;
    }

    .servizio__section3 {
        width: 90%;
    }
}

@media (max-width: 1200px) {
    .servizio__title {
        font-size: 1.75rem;
    }

    .servizio__background {
        height: 35vh;
    }
}

@media (max-width: 992px) {
    .servizio__section_description, .servizio__section_description2, 
    .servizio__section_undertext {
        font-size: 1.50rem;
    }

    .servizio__section_title, .servizio__section_title2,
    .servizio__article_description {
        font-size: 1.75rem;
    }

    .servizio__static_txt {
        margin-left: 0px !important;
        max-width: 90%;
    }
}

@media (max-width: 768px) {
    .servizio__article_description, .servizio__plan_name,
    .servizio__plan_cost, .servizio__title {
        font-size: 1.5rem;
    }    
    
    .servizio__section_img {
        max-width: 40%;
    }
}

@media (max-width: 572px) {
    .servizio__section3 {
        margin-top: 2rem;
    }

    .servizio__media_wrapper {
        margin-top: 2rem;
    }

    .servizio__table_auto_mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4rem;
    }

    .servizio__tabella_prezzi_auto {
        display: none;
    }

    .servizio__section3_title {
        line-height: 1.4;
    }

    .servizio__title {
        font-size: 1.25rem;
    }


    /* TEST */
    .servizio__section_img {
        display: none;
    }

    .servizio__section_title2 {
        margin-right: 0px;
    }

    .servizio__section_wrapper_txt {
        text-align: center;
    }

    .servizio__section_title2 {
        margin-right: 0px !important;
    }

    .servizio__section_img_mobile {
        display: block;
    }

    .servizio__section_description2 {
        margin-right: 0px !important;
    }

    .servizio__section_undertext {
        margin-top: 0.5rem;
        text-align: center;
    }

    .servizio__section_title, .servizio__section_description {
        margin-left: 0px;
    }

    .servizio__video {
        max-width: 80%;
    }

    .servizio__title_color {
        width: 80%;
    }

    .servizio__section {
        margin-top: 4rem;
    }

    .servizio__title_color {
        margin-left: 2.5rem;
    }

    .servizio__table_entry {
        font-size: 1rem;
    }

    .servizio__plans_wrapper {
        flex-direction: column;
    }

    .servizio__plan_box {
        margin-top: 4rem;
    }
}
