<footer class="footer">

    
    <section class="footer__contacts_section">
        <div class="footer__contacts_wrapper">
            <p class="footer__contacts_p">
                <span class="highlight_txt footer__contacts_span">Telefono:</span>
                <a class="footer__a_link" href="tel:+393887236826"> +39 388-7236826 </a>
            </p>
        </div>


        <div class="footer__contacts_wrapper">
            <p class="footer__contacts_p">
                <span class="highlight_txt footer__contacts_span">Indirizzo:</span>
                Via Sciascia, 34 - 96014 Floridia SR 
            </p>
        </div>


        <div class="footer__contacts_wrapper">
            <p class="footer__contacts_p">
                <span class="highlight_txt footer__contacts_span">Email:</span>
                <a class="footer__a_link" href="mailto:vaporchicfloridia@gmail.com"> vaporchicfloridia@gmail.com </a>
            </p>
        </div>
    </section>


</footer>


